*.sw*
*.h5*
*~

node_modules/
old_directory/

client/bundle.js
bundle.js
new_server/hdf_saved_files/

data_creators/one_dim.h5

data_creators/two_dim.h5

data_creators/three_dim.h5

data_creators/six.h5

build/

.idea/