<!doctype html>
<html>
<head>
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--&lt;!&ndash; The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags &ndash;&gt;-->
    <link rel="icon" href="data:;base64,=">
    <title>Starter Template for Bootstrap</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <!--<script src="//code.angularjs.org/1.6.0-rc.0/angular.min.js"></script>-->
    <!--<script src="checkbox.js"></script>-->

    <title></title>
    {{> navbar}}
</head>
<body>
{{{body}}}
</body>
</html>