
<div class="jumbotron">
    <div class="container">
        <form method="POST" action="/users/{{username}}/edit?_method=PUT">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       placeholder="Name" name="name" style="width:25%">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control"
                       placeholder="Username" name="username" style="width:25%">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control"
                       placeholder="Email" name="email" style="width:25%">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"
                       placeholder="Password"  name="password" style="width:25%">
            </div>
            <button class="btn btn-warning" type="submit">Save Changes</button>
            <button class="btn btn-danger" formaction="/users/{{username}}/delete?_method=DELETE" type="submit">Delete
                User
            </button>
        </form>
    </div>
</div>