<div class="jumbotron">
    <h2>Create new Project:</h2>
    <form method="POST" action="/projects">
        <h3>Name
            <input type="text" name="name" placeholder="Choose a project name.">
        </h3>
        <h3>Description
            <input type="text" name="description" placeholder="Choose a small project description.">
        </h3>
        <button class="btn btn-warning" type="submit">Submit Project</button>
    </form>
</div>