<div class="jumbotron" ng-app="inputModule" ng-controller="inputCtrl">
    <div class="container">
        <h2>Create new Project:</h2>
        <form method="POST" action="/projects/create">
            <h3>Name
                <input type="text" name="name" placeholder="Choose a project name.">
            </h3>
            <h3>Description
                <textarea name="description" cols="40" rows="5"
                          placeholder="Write a small project description."></textarea>
            </h3>
            <button class="btn btn-default" type="button" ng-click="add()">+</button>
            <h3 ng-repeat="i in getNumber(member) track by $index">Add your new member
                <input type="text" name="member" placeholder="new member">
            </h3>
            <button class="btn btn-warning" type="submit">Submit Project</button>
        </form>

    </div>
</div>