<!DOCTYPE html>
<html lang="en" ng-app="home">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" href="data:;base64,=">
        <title>Starter Template for Bootstrap</title>
        <script src="//code.angularjs.org/1.6.0-rc.0/angular.min.js"></script>
        <script src="home.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <nav-bar> </nav-bar>
        <div class="jumbotron">
            <h1>Retrieved <%= data %></h1>
        </div>
    </body>
</html>
