<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
    <head>
    </head>
    <body  ng-controller="homeController">
        <div class="jumbotron">
            {{#if  error}}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {{/if}}
            {{#if success}}
                <div class="alert alert-success">
                    {{success}}
                </div>
            {{/if}}
            <h2>Current open projects:</h2>
           <div class="list-group">
               <a ng-repeat="res in results track by $index" ng-bind="res" class="list-group-item"></a>
           </div>
        </div>
    </body>
</html>