<div class="jumbotron">
    {{> flash}}

    <h2>Create a new Project:
        <a href="/users/{{username}}/projects" class="btn btn-success" >Create</a>
    </h2>
    <h2>Search for a specific Project:</h2>
    <form method="GET" action="/users/{{username}}/projects/search">
        <input type="text" name="name" placeholder="Search projects..">
        <button type="submit"  class="btn btn-success" >Search</button>
    </form>

    <h2>Current open Projects:</h2>
        <table class="table">
            <thead>
            <tr>
                <td>Project Name</td>
                <td style="float:right">Delete project</td>
            </tr>
            </thead>
            {{#each names as |name|}}
                <tbody>
                <tr>
                    <td><a>{{name}}</a></td>
                    <td>
                        <form method="POST" action="/projects?_method=DELETE" style="float:right">
                            <input type="submit" value="X" class="btn btn-danger"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            {{/each}}
        </table>
</div>
