<div class="jumbotron">
    <div class="container">
    <h2>Search Projects Results:</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Project Name</td>
            <td>Description</td>
            <td></td>
            <td></td>
        </tr>
        </thead>

        <tbody>

            {{#each proj as |project|}}
                <tr>
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>
                        <form method="POST" action="/users/{{../username}}/projects/{{project._id}}">
                            {{#if_in project._id ../perms}}
                                <button type="submit" class="btn btn-default">Add Project</button>
                            {{/if_in}}
                        </form>
                    </td>
                </tr>
            {{/each}}

        </tbody>

    </table>
</div>
</div>
