<h2>Search Projects Results:</h2>
<div class="container" >
    <table class="table">
        <thead>
        <tr>
            <td>Project Name {{username}}</td>
            <td>Checkbox</td>
            <td></td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        <form method="POST" action="/users/{{username}}/projects/add">
            {{#each searches as |search|}}
                <tr>
                    <td>{{search.name}}</td>
                    <td>
                        <input type="checkbox"  name="checksearch" {{#if search.bool}} checked {{/if}}>
                        <input type="submit" class="btn btn-default">

                    </td>
                    <td>{{search.bool}}</td>
                </tr>
            {{/each}}
        </form>
        </tbody>

    </table>
</div>
