<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PlotNet</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" href="data:;base64,=">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">PlotNet</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form method="post"  action="/login" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
              <h2 class="page-header">Register to our Website!</h2>
              <form method="post" action="/login"  style="width:25%">
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control"
                      placeholder="Name" name="name">
                  </div>
                  <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control"
                      placeholder="Username" name="username">
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="form-control"
                      placeholder="Email" name="email">
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control"
                      placeholder="Password"  name="password">
                  </div>
                  <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" class="form-control"
                      placeholder="Password"  name="password2">
                  </div>
                  <button type="submit" class= "btn btn-default">Submit</button>
              </form>


            </div>
        </div>

        <div class="container">
         <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
        </div> <!-- /container -->
    </body>
</html>
